@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

    li #time {
        color: antiquewhite;
        display: block;
        text-align: center;
        padding: 40px 50px 30px 50px;
        text-decoration: none;
        font-size: 30px;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 40px 50px 30px 50px;
        text-decoration: none;
        font-size: 30px;
    }

        li a:hover {
            background-color: #333;
        }

footer {
    background-color: black;
    font-size: 25px;
    color: antiquewhite;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 300px 0px 50px;
    text-decoration: none;
    font-size: 45px;
}

div .offitem {
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    width:355px;
}



.offimg {
    width: 350px;
    height: 350px;
}

div .feat {
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    width:1900px;
    height:500px;
}



.featimg {
    width: 400px;
    height: 371.5px;
    padding-bottom: 0;
}

.logo {
    padding-left: 20px;
    width: 100px;
    height: 100px;
}

.column {
    float: left;
    width: 49%;
    padding: 15px 0px 0px 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}



#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.name {
    height:200px;
}